@media(max-width: 715px){
    .text_1{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }

    .block_2{
        flex-direction: column;
    }

    .custom-size{
        width: 250px;
    }
}

@media(max-width:368px){
    footer{
        text-align: center;
    }
}